<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RentaCarVidalGPS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Css/Styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Perfil</a></li>
                <li><a href="#">Monitoreo</a></li>
                <li><a href="#">Historial de viajes</a></li>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Monitoreo GPS</p>
    </footer>
</body>
</html>