{% extends 'TemplatesBase/Base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Viajes</h1>

<!-- Listar Arrendatarios -->
<h2 class="mt-4">Lista de Viajes</h2>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID Viaje</th>
            <th>Punto Origen</th>
            <th>Destino</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Distancia Recorrida</th>
            <th>Velocidad Media</th>
            <th>ID Dispositivo GPS</th>
            <th>RUT</th>
        </tr>
    </thead>
    <tbody>
        {% if arrendatarios %}
            {% for arrendatario in arrendatarios %}
            <tr>
                <td>{{ arrendatario.ID_Viaje }}</td>
                <td>{{ arrendatario.Punto_Origen }}</td>
                <td>{{ arrendatario.Destino }}</td>
                <td>{{ arrendatario.Fecha_Inicio }}</td>
                <td>{{ arrendatario.Fecha_Fin }}</td>
                <td>{{ arrendatario.Distancia_Recorrida }}</td>
                <td>{{ arrendatario.Velocidad_Media }}</td>
                <td>{{ arrendatario.ID_DispositivoGPS }}</td>
                <td>{{ arrendatario.Rut }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9" class="text-center">No se encontraron arrendatarios.</td>
            </tr>
        {% endif %}
    </tbody>
</table>



    


{% endblock %}

